a.btn{
  background: pink;
  color: #FFFFFF;
  font-family:  Verdana;
  border-radius: 20px;
  font-size: 20px;
  padding: 15px;
  border: solid pink 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}
a.footer-link{
  padding: 25px;
  color: #FFFFFF;
  text-decoration: none;
  cursor: pointer;
  font-family: Verdana;
  font-size: 17px;
}
body{
  margin: 0;
}
div.First-Container{
  background-color: pink;
  height: 650px;
  position: relative;
}
div.one{
  background-color: pink;
  height: 165.771px;
  width: 300px;
  position: absolute;
  left: 481.667px;
  top: 156px;
}
div.Middle-Container{
position: relative;
}
/*
div.skill-row1{
  display: inline-block;
  position: relative;
  width:50%;
  padding: 0 0 100px 200px;
}
div.skill-row2{
  display: inline-block;
  position: relative;
  width: 50%;
  padding: 0 0 100px 500px;
}*/
div.Profile{
  width: 50%;
  margin: 80px auto;
}
div.skill-row{
  width: 50%;
  margin: 100px auto;
}
div.Contact-me{
width: 50%;
margin: 100px auto 70px;
text-align: center;
}
div.Bottom-Container{
  background-color: pink;
  text-align: center;
  padding: 50px;
}
h1{
  text-align: center;
  margin-top: 0;
  font-family: 'Playball', cursive;
  color: salmon;
}
h2{
  text-align: center;
  color: salmon;
}
h3{
  text-align: center;
  font-family: 'Yrsa', serif;
  font-size: 150%;
  color: salmon;
}
hr{
  border-style: dotted none none;
  border-width: thick;
  border-color: salmon;
  width: 6%;
  height: 1px;

}
p{
  text-align: center;
  font-family: 'Dongle', sans-serif;
  font-size: 175%;
}
#one{
  position: absolute;
  left: 40px;
  top: 120px;
}
#two{
  position: absolute;
  right: 70px;
  top: 200px;
}
#three{
  position: absolute;
  bottom: 0;
  right: 350px;
}
#img1{
  position: relative;
  left: 160px;
  width: 290px;
}/*
#img2{
  position: absolute;
  left: 895px;
  height: 200px;
}
#img3{
  position: absolute;
  left: 200px;
}*/
#img2{
  width: 25%;
  position: relative;
  float: left;
  margin-right: 30px;
}
#img3{
  position: relative;
  float: right;
  bottom: 60px;
}
